// fonts
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700&display=swap');

// Body
$body-bg: #f9f9f9;

// Typography
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Karla', sans-serif;

// Colors
$color1: #00b7b8;
$color2: #07bec0;
$color3: #1fc8c9;
$color4: #aae5e6;

@mixin fontsetting( $type, $size, $weight, $style, $stretch, $spacing ) {
  font-size: $size;
  font-style: $style;
  font-stretch: $stretch;
  font-family: $type;
  font-weight: $weight;
  letter-spacing: $spacing;
}
